# Compiler files
cache/
out/

# Ignores development broadcast logs
!/contract/broadcast
/contract/broadcast/*/31337/
/contract/broadcast/**/dry-run/

# Docs
contract/docs/

# Dotenv file
contract/.env

/web/.env
/web/.env.local
/web/node_modules
/web/.next
node_modules/